/*top*/
header {
	margin-top: -8px;
	height: 410px;
	background-image: url("../images/header-img.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
/*navigation bar*/
.navbar { opacity: 0.9; }
.top-icon { color: white; font-size: 17px; }
.fa-youtube:hover { color: #ef5350; } .fa-instagram:hover { color: #ff4081; } 
.fa-facebook:hover { color: #0277bd; }
.menu {color: white;}
.menu:hover {color: yellow;}
.menu-home {color: yellow;}

/*content container*/
.content-margin { margin-top: 20px; }

/*quick links access*/
aside { background-color: #FFFDE7; height: 1250px;}
aside h2 { text-align: center; background-color: #31363B; color: yellow; margin-top: 20px; 
           font-family: 'Nunito', sans-serif; font-size: 1.5em; opacity: 0.9; }
table { margin-top: 20px; } 
table tr td a { margin-bottom: 20px; font-size: 18px; text-decoration-line: underline; 
	            font-family: 'Lexend Exa', sans-serif; }
.link-icon { margin-right: 10px; color: #31363B; font-size: 25px; }
/*individual content access*/
aside h3 { text-align: center; background-color: #31363B; color: yellow; margin-top: 20px; 
	       font-family: 'Nunito', sans-serif; font-size: 1.5em; opacity: 0.9; }
figcaption { font-family: 'Lexend Exa', sans-serif; }	       

/*page content*/
section h1 { font-family: 'Nunito', sans-serif; font-size: 1.5em; 
             font-weight: bold; padding: 10px 0px 10px 0px; margin-left: -15px; background-color: #FFFDE7;}
section h1 a { color: #31363B; text-align: left; margin-left: 10px; }
section h1 a:hover { text-decoration-line: none; text-decoration-color: unset; }
.box-container { display: flex; justify-content: space-around;}
.card { margin-bottom: 10px; width: 277px; padding: 0;}
.card img {width: auto; height: 170px;}
.card p { text-align: center; font-family: 'Lexend Exa', sans-serif; }
.card a { color: black; }
.card a:hover { color: black; }
.card img:hover { opacity: 0.5; }

/*footer*/
.copyright { color: white; font-size: 14px; margin-top: 10px; }
.text-footer { color: white; font-size: 15px; }
#ytb {color: #ef5350;} #fcb { color: #0277bd; } #int { color: #ff4081; }















